.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: black;
  background-color: white;
  border-radius: 2px;
  margin-left: 10px;
}

.activeStyle {
  color: grey;
}
